body,
table td
{
    font-family: Georgia, "Times New Roman", serif;
    font-size: 12pt;
    background-color: #ffffff;
    color: #000;
    margin: 0;
    padding: 0;
}

small
{
    font-size: .8em;
}

ins
{
    background-color: transparent;
}

footer
{
    padding: 1em 0;
}

/******************************************************/

.shadow_1
{
    -webkit-box-shadow: 0 4px 10px 0 rgba(120,120,120,.5);
       -moz-box-shadow: 0 4px 10px 0 rgba(120,120,120,.5);
            box-shadow: 0 4px 10px 0 rgba(120,120,120,.5);
}

/******************************************************/

a
{
  text-decoration: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(0, 0, 200, .2);
  color: rgb(0, 0, 200);
}
a:visited
{
  border-color: rgba(220, 0, 220, .2);
  color: rgb(153, 0, 153);
}
a:hover,
a:visited:hover
{
  border-color: rgba(255, 0, 0, .4);
  color: rgb(255, 0, 0) !important;
}
a:active,
a:focus
{
  outline: none;
  -moz-outline-style: none;
  -webkit-outline-style: none;
}
a.local
{
  border-bottom-style: dotted;
  border-bottom-color: #00f;
}
a.local:hover
{
  border-color: #f00;
  color: #f00;
}
a.no
{
  border-bottom-width: 0;
}

::-moz-selection
{
  background-color: #0a246a;
  color: #fff;
}
::selection
{
  background-color: #0a246a;
  color: #fff;
}

.not-underline
{
    text-decoration: none;
    border-bottom: 0;
}

/******************************************************/

/* отступы */
.spacer1em
{
    height: 1em;
}
.spacer2em
{
    height: 2em;
}
.spacer3em
{
    height: 3em;
}
.spacer4em
{
    height: 4em;
}
.spacer5em
{
    height: 5em;
}
.spacer6em
{
    height: 6em;
}
.spacer7em
{
    height: 7em;
}
.spacer8em
{
    height: 8em;
}
.spacer9em
{
    height: 9em;
}

.spacer10
{
    height: 10px;
}
.spacer20
{
    height: 20px;
}
.spacer30
{
    height: 30px;
}
.spacer40
{
    height: 40px;
}
.spacer50
{
    height: 50px;
}
.spacer60
{
    height: 60px;
}
.spacer70
{
    height: 70px;
}
.spacer80
{
    height: 80px;
}
.spacer100
{
    height: 90px;
}

/******************************************************/

.items
{
    margin: 3em 0em 3em 0em;
    text-align: center;
}
.item
{
    text-decoration: none;
    display: -moz-inline-box;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding: 3em 3em 3em 3em;
    margin: 3em 0 0 0;
}
.item__container
{
    width: 300px;
    float: left;
}
.item__descr
{
    margin: 1em .6em 0 .6em;
    font-size: .9em;
}
.item__descr small
{
    color: #999;
}

.item__tmb img
{
    -moz-transform: perspective(600px) rotateX(0deg);
    -moz-transition-duration: 300ms;
    -moz-transition-delay: 100ms;
}
.item__tmb:hover img
{
    -moz-transform: perspective(600px) rotateX(-5deg);
    -moz-transition-delay: 0ms;
}


.expand
{
    overflow: hidden;
}
.expand__container
{
    position: absolute;
    left: 0;
    padding: 20px;
    background-color: #eee;
    -webkit-box-shadow: inset 0px 5px 5px 0px #999;
            box-shadow: inset 0px 5px 5px 0px #999;
}




.ys-pic
{
    margin-bottom: 1em;
}

